<h1>Search For The Best Content</h1>

<form action="/search/results">
	<label for="">
		Keyword Search:
		<input type="search" name="keyword" required placeholder="Enter Keyword">
	</label>
	<button>Search</button>
</form>
